[Unit]
Description=IML Supervisor Status Service
RefuseManualStart=true

[Service]
Restart=always
Environment=NODE_ENV=production
ExecStart=/usr/bin/node /sbin/supervisor-status
StandardOutput=journal+console
StandardError=journal+console
